.indicators {
    display: flex;
    gap: 20px;
}
.ul {
    list-style: none;
    padding-left: 0;

}
.li {
    padding-top: 20px;
    border-radius: 10px;
}
.btn {
    width: 600px;
    display: flex;
}
.h3 {
    color: #646cff;
}
