.indicators {
    display: flex;
    gap: 20px;
    justify-content: center;
}
.ul {
    list-style: none;
    padding-left: 0;

}
.li {
    padding-top: 20px;
    border-radius: 10px;
}
.btn {
    width: 100%;
    display: flex;
}
.h3 {
    color: #646cff;
    display: flex;
    justify-content: center;
}

.separator {
    border-bottom: 2px solid #646cff; /* Устанавливаем стиль, цвет и толщину полоски */
    margin-bottom: 20px; /* Добавляем немного отступа снизу, чтобы разделитель не прижимался к следующему элементу */
}

